body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
}

#spinner {
    background-color:#CF4342;
    color:#FFFFFF;
    top: 0px;
    right: 0px;
    position:fixed;
}

#spinner img {
    vertical-align:middle;
    margin:2px;
}
